language: generic
sudo: required

services:
  - docker

before_install:
  - docker build -t dockerreacttest -f Dockerfile.dev .

script:
  - docker run -e CI=true dockerreacttest npm run test

deploy:
  provider: elasticbeanstalk
  region: "us-east-2"
  app: "Docker-React-test-2"
  env: "DockerReactTest2-env"
  bucket_name: "elasticbeanstalk-us-east-2-528305935981"
  bucket_path: "Docker-React-test-2"
  on:
    branch: master
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key: $AWS_SECRET_KEY
